<%- extend ('layout/layout',{title: 'error'}) %>
<div class="container-fluid p-3">
  <input
    type="button"
    onclick="history.back()"
    class="btn btn-danger"
    name="volver atrás"
    value="volver atrás"
  />
</div>
<div class="">
  <img src="/404.jpg" alt="" class="error" />
</div>
