<%- extend ('layout/layout',{title: 'mantenimiento'}) %> <%- include
('partials/nav')%>

<!-- btn modal -->
<button
  id="btnGetMachine"
  type="button"
  class="btn btn-danger"
  data-toggle="modal"
  data-target="#adMantience"
>
  registrar
</button>
<!-- Modal -->
<div
  class="modal fade left"
  id="adMantience"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalPreviewLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalPreviewLabel">
          Registro de mantenimiento
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          id="notificacionAdd"
          class="text-center alert alert-info p-2 d-none"
        >
          Mantenimiento agregado con exito
          <button id="notificacionRemove" class="close">
            <span id="notificacionRemove" aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="form" class="">
          <select
            class="custom-select form-control mb-1"
            id="equipo_id"
          ></select>

          <select class="form-control custom-select" id="idPieza"></select>

          <select class="form-control custom-select mb-1" id="idHerramienta">
            <option value="" disabled="" selected="">Choose your option</option>
          </select>
          <select class="form-control mb-1" id="tipo">
            <option value="" disabled selected>tipo de mantenimiento</option>
            <option value="correctivo">correctivo</option>
            <option value="preventivo">preventivo</option>
            <option value="3"></option>
            <option value="3">trimestral</option>
            <option value="3">anual</option>
          </select>
          <select class="form-control mb-1" id="frecuencia">
            <option value="" disabled selected>Frecuencia</option>
            <option value="diaria">diaria</option>
            <option value="2">semanal</option>
            <option value="3">mensual</option>
            <option value="3">trimestral</option>
            <option value="3">anual</option>
          </select>

          <input
            type="text"
            id="descripcion"
            class="form-control mb-1"
            placeholder="descripcion"
          />

          <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="validate" />
            <label class="custom-control-label" for="validate"
              >valida Registro</label
            >
          </div>
          <button
            id="btnSaveMantience"
            class="btn btn-info btn-block"
            type="submit"
          >
            guardar
          </button>
        </form>
      </div>
      <div class="modal-footer">XD</div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-11 col-md-4 mb-3">
      <div id="idMachine" class="list-scroll card p-3"></div>
    </div>
    <div class="col-11 col-md-4 mb-3">
      <div class="list-scroll card p-3" id="pieza"></div>
    </div>
    <div class="col-11 col-md-4 mb-3">
      <div class="list-scroll card p-3" id="listMantience"></div>
    </div>
  </div>
</div>
<script src="/mantience.js"></script>
