<!-- Central Modal Small -->
<div
  class="modal show bottom d-none"
  id="modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="container pt-2">
    <div class="modal-dialog-srcollable modal-bottom" role="document">
      <form id="formMachines">
        <div class="modal-content">
          <div class="px-2">
            <div class="row">
              <div class="col-3 pt-2 pb-2">
                <div class="card">
                  <div class="card-body">
                    <div class="form-group" class="card">
                      <form id="formData" action="">
                        <div class="d-none" id="div_contribuyente"></div>
                        <select class="form-control custom-select mb-2" id="tipo_consulta">
                          <option selected disabled value="">
                           tipo de consulta
                          </option>
                          <option value="pg">activo</option>
                          <option value="palgo">inactivo</option>
                        </select>
                        
                        <input
                          class="form-control mb-2"
                          type="text"
                          id="motivo"
                          placeholder="motivo"
                        />
                        <textarea
                          class="form-control mb-2"
                          type="text"
                          id="detalles"
                          placeholder="detalles"
                        /></textarea>
                        <textarea 
                        class="form-control mb-2"
                        type="text"
                        id="observaciones"
                        placeholder="observaciones"
                      /></textarea>

                        <div id="">
                          <button id="registrarVisita" class="btn btn-success">
                            registrar
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-9 pt-3">
                <div class="row">
                  <div class="col-3">
                    <div class="row">
                      <input
                        class="form-control col-6"
                        type="text"
                        placeholder="search"
                      />
                      <div class="caja-search bg-primary c-hand mx-2">

                        <i class="fas fa-search "></i>

                      </div>
                      <!-- <button class="btn btn-sm btn-primary col-3">s</button> -->
                    </div>
                  </div>
                  <div id="" class="col-7 card">
                    <div id="modalInfoContribuyente">

                    </div>
<div class="container-fluid text-center">
  <div class=" row mt-2">
    <div id="InfoParroquia"></div>

    <p class="">,<p></p>
    <div id="InfoMunicipio"></div>

    <p class="">,<p></p>
    <div id="InfoEstado"></div>

   </div>
</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 pt-2">
                    <div class="list-scroll">
                      <div class="card">
                        <table
                          class="table table-hover table-sm text-center text-capitalize"
                        >
                          <thead class="card-header">
                            <tr>
                              <th>N°</th>
                              <th>motivo</th>
                              <th>detalles</th>
                              <th>fecha</th>
                              <th>acciones</th>
                            </tr>
                          </thead>
                          <tbody class="card-body" id="visitas"></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <table
                    class="col-12 table table-hover table-sm text-center text-capitalize"
                  >
                    <TFoot class="card-footer">
                      <th>N°</th>
                      <th>motivo</th>
                      <th>detalles</th>
                      <th>fecha</th>
                      <th>acciones</th>
                    </TFoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              id="btnCerrar"
              class="btn btn-primary btn-sm"
              onclick="cerrarModal()"
            >
              cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Central Modal Small -->
