
<div class="container-fluid">
   <div class="row">
    <div class="col-6">
        <h1>hola mundo</h1>
    </div>
    <div class="col-6 pb-4">
        <div class="card">
            <div class="card-header"><h1 class=" pt-2 h3 text-center">inicio de session</h1></div>
            <div class="card-body">
                <form action="/signin" method="POST">
                    <!--Body-->
                    <div class="">
                        <div class="md-form ">
                            <i class="fas fa-user prefix"></i>
                            <input required autocomplete="off" type="text"
                                id="modalLRInput10" onkeyup="validateUser(this)"
                                name="username"
                                class="form-control  validate">
                            <label data-error="wrong" data-success="right"
                                for="modalLRInput10">Ingrese su Usuario</label>
                        </div>
                        <label id="msgUser"></label>
        
                        <div class=" md-form">
                            <i class="fas fa-lock prefix"></i>
                            <input required autocomplete="off" type="password"
                                name="password" id="modalLRInput11"
                                class="form-control validate">
                            <label data-error="wrong" data-success="right"
                                for="modalLRInput11">Ingrese su Contraseña</label>
                        </div>
                        <div class="text-center ">
                            <button class="btn btn-info">INICIAR SESSION <i
                                    class="fas fa-check-circle "></i></button>
                        </div>
                    
        
        </form>
            </div>
        </div>
    </div>
   </div>
</div>